<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{ _page.title }}</title>
    {{ _page.priorityHead() }}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{ _page.meta() }}
    <link type="text/css" rel="stylesheet" href="{{ 'css/main.css'|theme_url }}">
    {{ _page.css() }}

    {# Loadjs https://github.com/muicss/loadjs #}
    <script>loadjs=function(){function e(e,n){var t,r,i,c=[],o=(e=e.push?e:[e]).length,f=o;for(t=function(e,t){t.length&&c.push(e),--f||n(c)};o--;)r=e[o],(i=s[r])?t(r,i):(u[r]=u[r]||[]).push(t)}function n(e,n){if(e){var t=u[e];if(s[e]=n,t)for(;t.length;)t[0](e,n),t.splice(0,1)}}function t(e,n,r,i){var o,s,u=document,f=r.async,a=(r.numRetries||0)+1,h=r.before||c;i=i||0,/(^css!|\.css$)/.test(e)?(o=!0,(s=u.createElement("link")).rel="stylesheet",s.href=e.replace(/^css!/,"")):((s=u.createElement("script")).src=e,s.async=void 0===f||f),s.onload=s.onerror=s.onbeforeload=function(c){var u=c.type[0];if(o&&"hideFocus"in s)try{s.sheet.cssText.length||(u="e")}catch(e){u="e"}if("e"==u&&(i+=1)<a)return t(e,n,r,i);n(e,u,c.defaultPrevented)},!1!==h(e,s)&&u.head.appendChild(s)}function r(e,n,r){var i,c,o=(e=e.push?e:[e]).length,s=o,u=[];for(i=function(e,t,r){if("e"==t&&u.push(e),"b"==t){if(!r)return;u.push(e)}--o||n(u)},c=0;c<s;c++)t(e[c],i,r)}function i(e,t,i){var s,u;if(t&&t.trim&&(s=t),u=(s?i:t)||{},s){if(s in o)throw"LoadJS";o[s]=!0}r(e,function(e){e.length?(u.error||c)(e):(u.success||c)(),n(s,e)},u)}var c=function(){},o={},s={},u={};return i.ready=function(n,t){return e(n,function(e){e.length?(t.error||c)(e):(t.success||c)()}),i},i.done=function(e){n(e,[])},i.reset=function(){o={},s={},u={}},i.isDefined=function(e){return e in o},i}();</script>
    {# Load the main JS #}
    <script>loadjs(['{{ 'js/main.js'|theme_url }}'], 'main');</script>
    {# Javascript for preloading CSS - https://www.filamentgroup.com/lab/async-css.html #}
    <script>!function(t){"use strict";t.loadCSS||(t.loadCSS=function(){});var e=loadCSS.relpreload={};if(e.support=function(){var e;try{e=t.document.createElement("link").relList.supports("preload")}catch(t){e=!1}return function(){return e}}(),e.bindMediaToggle=function(t){function e(){t.media=a}var a=t.media||"all";t.addEventListener?t.addEventListener("load",e):t.attachEvent&&t.attachEvent("onload",e),setTimeout(function(){t.rel="stylesheet",t.media="only x"}),setTimeout(e,3e3)},e.poly=function(){if(!e.support())for(var a=t.document.getElementsByTagName("link"),n=0;n<a.length;n++){var o=a[n];"preload"!==o.rel||"style"!==o.getAttribute("as")||o.getAttribute("data-loadcss")||(o.setAttribute("data-loadcss",!0),e.bindMediaToggle(o))}},!e.support()){e.poly();var a=t.setInterval(e.poly,500);t.addEventListener?t.addEventListener("load",function(){e.poly(),t.clearInterval(a)}):t.attachEvent&&t.attachEvent("onload",function(){e.poly(),t.clearInterval(a)})}"undefined"!=typeof exports?exports.loadCSS=loadCSS:t.loadCSS=loadCSS}("undefined"!=typeof global?global:this);</script>

    {{ _page.js('head') }}
    {{ _page.head() }}
    {{ _page.themeStyles() }}
</head>
<body>
    {{ _page.bodyStartCode() }}
    <div class="visually-hidden" aria-hidden="true">{{ source('snippets/svg-icons.twig') }}</div>
    <header class="Header" id="top">
        <div class="Container">
            <div class="grid nc-2 align-center justify-between">
                <div class="col-3-4 col-1-3-xl">
                    {% if _core.theme.settings.headerLogo %}
                        <a href="/" title="return to home page" class="Header-logoLink">
                            {% set _core.theme.settings.headerLogo.class = "Header-logo" %}
                            {% do _core.theme.settings.headerLogo.resize(_core.theme.settings.headerLogoWidth + 100) %}
                            {{ _core.theme.settings.headerLogo.tag }}
                        </a>
                    {% endif %}
                </div>
                <div class="col-1-4 flex justify-end hidden-xl">
                    <button class="SmScBtn js-ssNavBtn" aria-label="Navigation menu" aria-expanded="false" aria-controls="navbar"><span class="SmScBtn-icon"></span>Menu</button>
                </div>
                <div class="col-1-1 col-2-3-xl flex-xl justify-end-xl Header-nav">
                    {{ _api.navigation.get.key('main') }}
                </div>
            </div>
        </div>
    </header>
